/* assets/style.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

h1 {
  color: #ff4081;
  margin-bottom: 20px;
}

#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.cartao {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5